@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
html {
  scroll-behavior: smooth;
}

@layer base {
  
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes loop {
  to {
    transform: translateX(-100%);
  }
}
.circular {
  animation: loop 15s linear infinite;
}
@keyframes loopavatar {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}
@keyframes loopavatar2 {
  to {
    transform: translateX(calc(50% + 0.5rem));
  }
}
.avatar {
  animation: loopavatar 90s linear infinite;
}

.avatar:hover {
  animation-play-state: paused;
}
.avatar2 {
  animation: loopavatar2 90s linear infinite;
}

.avatar2:hover {
  animation-play-state: paused;
}

.container {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

@keyframes slide {
  0% { transform: translateX(0); }
  8.33% { transform: translateX(0); }
  16.66% { transform: translateX(-100%); }
  25% { transform: translateX(-100%); }
  33.33% { transform: translateX(-200%); }
  41.66% { transform: translateX(-200%); }
  50% { transform: translateX(-300%); }
  58.33% { transform: translateX(-300%); }
  66.66% { transform: translateX(-400%); }
  75% { transform: translateX(-400%); }
  83.33% { transform: translateX(-500%); }
  91.66% { transform: translateX(-500%); }
  100% { transform: translateX(0); }
}
.im {
  display: flex;
  width: 1300%;
  animation: slide 130s infinite;;
}

.no-scroll {
  overflow: hidden;
}